<cfoutput>
<plugin>
	<name>MuraAirbrake</name>
	<package>Airbrake</package>
	<directoryFormat>packageOnly</directoryFormat>
	<loadPriority>5</loadPriority>
	<version>0.1</version>
	<provider>BlueRidge Interactive</provider>
	<providerURL>http://www.blueridgeinteractive.com/</providerURL>
	<category>Utility</category>
	<settings>
		<setting>
			<name>APIKey</name>
			<label>Airbrake/Errbit API Key</label>
			<hint></hint>
			<type>text</type>
			<required>true</required>
			<validation></validation>
			<regex></regex>
			<message></message>
			<defaultvalue></defaultvalue>
			<optionlist></optionlist>
			<optionlabellist></optionlabellist>
		</setting>
		<setting>
			<name>Environment</name>
			<label>Environment</label>
			<hint></hint>
			<type>select</type>
			<required>true</required>
			<validation></validation>
			<regex></regex>
			<message></message>
			<defaultvalue>local</defaultvalue>
			<optionlist>local^staging^production</optionlist>
			<optionlabellist>Local^Staging^Production</optionlabellist>
		</setting>
		<setting>
			<name>UseSSL</name>
			<label>Use SSL Endpoint?</label>
			<hint></hint>
			<type>select</type>
			<required>true</required>
			<validation></validation>
			<regex></regex>
			<message></message>
			<defaultvalue>false</defaultvalue>
			<optionlist>false^true</optionlist>
			<optionlabellist>No^Yes</optionlabellist>
		</setting>
		<setting>
			<name>FailoverEmail</name>
			<label>Who to email if plugin fails?</label>
			<hint></hint>
			<type>text</type>
			<required>true</required>
			<validation>email</validation>
			<regex></regex>
			<message></message>
			<defaultvalue></defaultvalue>
			<optionlist></optionlist>
			<optionlabellist></optionlabellist>
		</setting>
	</settings>
	<eventHandlers>
		<eventHandler event="onApplicationLoad" component="plugin.eventHandler" persist="false" />
	</eventHandlers>
	<displayobjects location="global"></displayobjects>
</plugin>
</cfoutput>